{% extends "base.html.twig" %}

{% block title 'Agence Meduza' %}

{% block body %}
 <div class="jumbotron text-center">
   <h1>Agence Meduza</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae assumenda officia dolores recusandae architecto eveniet in exercitationem animi natus impedit? Numquam nobis earum aliquam ex repellendus voluptates, blanditiis soluta nam!
    </p>

 </div>


{% endblock %}